<h1>Chat</h1>

<section id="containerChat" class="containerChat">
    <div id="messages">

    </div>
    <form id="chatForm" class="chatForm">
        <input type="text" name="user" id="user" class="formInput" placeholder="User">
        <input type="text" name="message" id="userMessage" class="formInput" placeholder="Message">
        <button type="submit" class="buttonForm">Send</button>
    </form>
</section>

<script src="/"></script>