<section class='sectionDetail'>
    <div class='sectionContainer'>
        <div class='imgContainer'>
            <img class='detailImg' src={{product.thumbnail}} alt='Foto de producto'></img>
        </div>
        <div class='detailContainer'>
            <h2 class='detailTitle'>{{product.title}}</h2>
            <p class='detailDescription'>{{product.description}}</p>
            <p class='detailPrice'>${{product.price}}</p>
            <button class="buttonForm">Add to Cart</button>
            <a class="linkForm" href="http://localhost:8080/api/products">Volver a Home</a>
        </div>
    </div>
</section>